services:
  watchtower:
    image: nickfedor/watchtower:{{ watchtower_version }}
    container_name: {{ watchtower_container_name }}
    environment:
      TZ: "{{ watchtower_timezone }}"
      WATCHTOWER_CLEANUP: "{{ watchtower_cleanup | string | lower }}"
      WATCHTOWER_REMOVE_VOLUMES: "{{ watchtower_remove_volumes | string | lower }}"
      WATCHTOWER_INCLUDE_RESTARTING: "{{ watchtower_include_restarting | string | lower }}"
      WATCHTOWER_INCLUDE_STOPPED: "{{ watchtower_include_stopped | string | lower }}"
      WATCHTOWER_REVIVE_STOPPED: "{{ watchtower_revive_stopped | string | lower }}"
      WATCHTOWER_POLL_INTERVAL: "{{ watchtower_poll_interval | string }}"
      WATCHTOWER_LABEL_ENABLE: "{{ watchtower_label_enable | string | lower }}"
      WATCHTOWER_DISABLE_CONTAINERS: "{{ watchtower_disable_containers }}"
      WATCHTOWER_MONITOR_ONLY: "{{ watchtower_monitor_only | string | lower }}"
      WATCHTOWER_LABEL_TAKE_PRECEDENCE: "{{ watchtower_label_take_precedence | string | lower }}"
      WATCHTOWER_NO_RESTART: "{{ watchtower_no_restart | string | lower }}"
      WATCHTOWER_NO_PULL: "{{ watchtower_no_pull | string | lower }}"
      WATCHTOWER_NO_STARTUP_MESSAGE: "{{ watchtower_no_startup_message | string | lower }}"
      WATCHTOWER_SCOPE: "{{ watchtower_scope }}"
      WATCHTOWER_SCHEDULE: "{{ watchtower_schedule }}"
      WATCHTOWER_ROLLING_RESTART: "{{ watchtower_rolling_restart | string | lower }}"
      WATCHTOWER_TIMEOUT: "{{ watchtower_timeout }}"
      WATCHTOWER_NOTIFICATIONS_HOSTNAME: "{{ watchtower_notifications_hostname }}"
      WATCHTOWER_NOTIFICATION_URL: "{{ watchtower_notification_url }}"
{% if watchtower_deploy_resources_limits %}
    deploy:
      resources:
        limits:
{% for key, value in watchtower_deploy_resources_limits.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: "bridge"
    healthcheck:
      test: ["CMD", "/watchtower", "--health-check"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always
