services:
  watchtower:
    container_name: {{ watchtower_container_name }}
    image: containrrr/watchtower:{{ watchtower_version }}
    environment:
      TZ: "{{ watchtower_timezone }}"
      WATCHTOWER_CLEANUP: "{{ watchtower_cleanup }}"
      WATCHTOWER_REMOVE_VOLUMES: "{{ watchtower_remove_volumes }}"
      WATCHTOWER_INCLUDE_RESTARTING: "{{ watchtower_include_restarting }}"
      WATCHTOWER_INCLUDE_STOPPED: "{{ watchtower_include_stopped }}"
      WATCHTOWER_REVIVE_STOPPED: "{{ watchtower_revive_stopped }}"
      WATCHTOWER_LABEL_ENABLE: "{{ watchtower_label_enable }}"
      WATCHTOWER_DISABLE_CONTAINERS: "{{ watchtower_disable_containers }}"
      WATCHTOWER_MONITOR_ONLY: "{{ watchtower_monitor_only }}"
      WATCHTOWER_LABEL_TAKE_PRECEDENCE: "{{ watchtower_label_take_precedence }}"
      WATCHTOWER_NO_RESTART: "{{ watchtower_no_restart }}"
      WATCHTOWER_NO_PULL: "{{ watchtower_no_pull }}"
      WATCHTOWER_NO_STARTUP_MESSAGE: "{{ watchtower_no_startup_message }}"
      WATCHTOWER_SCOPE: "{{ watchtower_scope }}"
      WATCHTOWER_SCHEDULE: "{{ watchtower_schedule }}"
      WATCHTOWER_TIMEOUT: "{{ watchtower_timeout }}"
      WATCHTOWER_ROLLING_RESTART: "{{ watchtower_rolling_restart }}"
      WATCHTOWER_NOTIFICATIONS_HOSTNAME: "{{ watchtower_notifications_hostname }}"
      WATCHTOWER_NOTIFICATION_URL: "{{ watchtower_notification_url }}"
{% if watchtower_deploy_resources_limits %}
    deploy:
      resources:
        limits:
{% for key, value in watchtower_deploy_resources_limits.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: "bridge"
    healthcheck:
      test: ["CMD", "/watchtower", "--health-check"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always
