global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporter"
    scrape_interval: 5s
    static_configs:
      - targets: ["{{ monitor_node_exporter_container_name | default('monitor-node-exporter') }}:9100"]

  - job_name: "cadvisor"
    scrape_interval: 5s
    static_configs:
      - targets: ["{{ monitor_cadvisor_container_name | default('monitor-cadvisor') }}:8080"]

scrape_config_files:
  - "scrape-configs/*.yml"
