---
- name: Verify Monitor files attributes
  block:
    - name: Get the list of Monitor files
      ansible.builtin.find:
        paths: "{{ monitor_dir }}"
        recurse: true
        file_type: file
      register: monitor_files

    - name: Stat Monitor files
      ansible.builtin.stat:
        path: "{{ file }}"
      register: monitor_files_stat
      loop: "{{ monitor_files.files | map(attribute='path') }}"
      loop_control:
        loop_var: file

    - name: Assert Monitor files mode
      ansible.builtin.assert:
        that: file.mode | string == services_file_mode
        fail_msg: "File {{ file.path }} has incorrect mode: {{ file.mode }}"
        success_msg: "File {{ file }} has correct mode"
      loop: >-
        {{ monitor_files_stat.results
          | map(attribute='stat')
          | map('dict2items')
          | map('selectattr', 'key', 'in', ['path', 'mode'])
          | map('items2dict') }}
      loop_control:
        loop_var: file

    - name: Assert Monitor files ownership
      ansible.builtin.assert:
        that:
          - file.pw_name == services_owner
          - file.gr_name == services_group
        fail_msg: >-
          File {{ file.path }} has incorrect ownership:
          {{ file.pw_name }}:{{ file.gr_name }}
        success_msg: "File {{ file.path }} has correct ownership"
      loop: >-
        {{ monitor_files_stat.results
          | map(attribute='stat')
          | map('dict2items')
          | map('selectattr', 'key', 'in', ['path', 'pw_name', 'gr_name'])
          | map('items2dict') }}
      loop_control:
        loop_var: file

    - name: Assert Monitor configuration files exist
      ansible.builtin.assert:
        that: >-
          configuration_file in
          (monitor_files_stat.results | map(attribute='stat') | map(attribute='path'))
        fail_msg: "Monitor configuration file {{ configuration_file }} does not exist"
        success_msg: "Monitor configuration file {{ configuration_file }} exists"
      loop:
        - "{{ monitor_dir }}/grafana/dashboards/nut/ups.json"
        - "{{ monitor_dir }}/grafana/provisioning/alerting/alert-rules-nut.yaml"
        - "{{ monitor_dir }}/prometheus/scrape-configs/nut-exporter.yml"
      loop_control:
        loop_var: configuration_file

- name: Verify Monitor files content
  block:
    - name: Slurp Monitor files content
      ansible.builtin.slurp:
        src: "{{ file }}"
      register: monitor_files_slurp
      loop: >-
        {{ monitor_files.files
          | map(attribute='path')
          | reject('search', 'grafana/dashboards')
          | reject('search', 'icons') }}
      loop_control:
        loop_var: file

    - name: Assert Monitor files have Unix line endings
      ansible.builtin.assert:
        that: "'\\r\\n' not in (file.content | b64decode)"
        fail_msg: "File {{ file.file }} contains Windows line endings (CRLF)"
        success_msg: "File {{ file.file }} has Unix line endings (LF)"
      loop: >-
        {{ monitor_files_slurp.results
          | map('dict2items')
          | map('selectattr', 'key', 'in', ['file', 'content'])
          | map('items2dict') }}
      loop_control:
        loop_var: file

- name: Verify Monitor Docker containers
  block:
    - name: Get Monitor containers info
      community.docker.docker_container_info:
        name: "{{ container_name }}"
      register: monitor_containers_info
      loop:
        - "{{ monitor_grafana_container_name }}"
        - "{{ monitor_prometheus_container_name }}"
        - "{{ monitor_cadvisor_container_name }}"
        - "{{ monitor_node_exporter_container_name }}"
      loop_control:
        loop_var: container_name

    - name: Assert Monitor containers are running and healthy
      ansible.builtin.assert:
        that:
          - container_info.State.Status == "running"
          - container_info.State.Health.Status == "healthy"
        fail_msg: >-
          Container '{{ container_info.Name }}' has incorrect state:
          status='{{ container_info.State.Status }}', health='{{ container_info.State.Health.Status }}'
        success_msg: >-
          Container '{{ container_info.Name }}' has correct state:
          status='{{ container_info.State.Status }}', health='{{ container_info.State.Health.Status }}'
      loop: >-
        {{ monitor_containers_info.results
          | map(attribute='container')
          | map('dict2items')
          | map('selectattr', 'key', 'in', ['Name', 'State'])
          | map('items2dict') }}
      loop_control:
        loop_var: container_info
