---
services:
  nginx:
    image: nginx:{{ nginx_version }}
    container_name: {{ nginx_container_name }}
{% if nginx_watchtower_enabled %}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
{% endif %}
    command: "nginx -g 'daemon off;'"
{% if nginx_deploy_resources_limits %}
    deploy:
      resources:
        limits:
{% for key, value in nginx_deploy_resources_limits.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/snippets:/etc/nginx/snippets:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro
      - {{ nginx_ssl_certs_server_path }}:/etc/nginx/ssl/server.crt:ro
      - {{ nginx_ssl_keys_server_path }}:/etc/nginx/ssl/server.key:ro
{% for volume in nginx_volumes | default([]) %}
      - {{ volume }}
{% endfor %}
{% if nginx_networks %}
    networks:
{% for network in nginx_networks %}
      - {{ network }}
{% endfor %}
{% else %}
    network_mode: "bridge"
{% endif %}
    ports:
{% for port in nginx_ports %}
      - "{{ (nginx_bind_ip + ':') if nginx_bind_ip else '' }}{{ port }}"
{% endfor %}
    healthcheck:
      test: ["CMD", "curl", "-skfo", "/dev/null", "https://localhost/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always

{% if nginx_networks %}
networks:
{% for network in nginx_networks %}
  {{ network }}:
    external: true
{% endfor %}
{% endif %}
