---
- name: Verify certbot files attributes
  block:
    - name: Get the list of files
      ansible.builtin.find:
        paths: "{{ certbot_dir }}"
        recurse: true
        file_type: file
      register: files

    - name: Stat files
      ansible.builtin.stat:
        path: "{{ file }}"
      register: files_stat
      loop: "{{ files.files | map(attribute='path') }}"
      loop_control:
        loop_var: file

    - name: Assert files mode
      ansible.builtin.assert:
        that: file.mode | string == services_file_mode
        fail_msg: "File {{ file.path }} has incorrect mode: {{ file.mode }}"
        success_msg: "File {{ file }} has correct mode"
      loop: >-
        {{ files_stat.results
          | map(attribute='stat')
          | map('dict2items')
          | map('selectattr', 'key', 'in', ['path', 'mode'])
          | map('items2dict') }}
      loop_control:
        loop_var: file

    - name: Assert files ownership
      ansible.builtin.assert:
        that:
          - file.pw_name == services_owner
          - file.gr_name == services_group
        fail_msg: >-
          File {{ file.path }} has incorrect ownership:
          {{ file.pw_name }}:{{ file.gr_name }}
        success_msg: "File {{ file.path }} has correct ownership"
      loop: >-
        {{ files_stat.results
          | map(attribute='stat')
          | map('dict2items')
          | map('selectattr', 'key', 'in', ['path', 'pw_name', 'gr_name'])
          | map('items2dict') }}
      loop_control:
        loop_var: file

    - name: Slurp files content
      ansible.builtin.slurp:
        src: "{{ file }}"
      register: files_slurp
      loop: "{{ files.files | map(attribute='path') }}"
      loop_control:
        loop_var: file

    - name: Assert files have Unix line endings
      ansible.builtin.assert:
        that: "'\\r\\n' not in (file.content | b64decode)"
        fail_msg: "File {{ file.file }} contains Windows line endings (CRLF)"
        success_msg: "File {{ file.file }} has Unix line endings (LF)"
      loop: >-
        {{ files_slurp.results
          | map('dict2items')
          | map('selectattr', 'key', 'in', ['file', 'content'])
          | map('items2dict') }}
      loop_control:
        loop_var: file
