apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://{{ monitor_prometheus_container_name | default('monitor-prometheus') }}:9090
    version: 1
    editable: true
    isDefault: false
