---
services:
  deluge:
    image: lscr.io/linuxserver/deluge:{{ deluge_version }}
    container_name: {{ deluge_container_name }}
{% if deluge_watchtower_enabled %}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
{% endif %}
    environment:
      PUID: 1000
      PGID: 1000
      TZ: {{ deluge_timezone }}
{% if deluge_deploy_resources_limits %}
    deploy:
      resources:
        limits:
{% for key, value in deluge_deploy_resources_limits.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    volumes:
      - ./config:/config
{% for volume in deluge_volumes | default([]) %}
      - {{ volume }}
{% endfor %}
{% if deluge_networks %}
    networks:
{% for network in deluge_networks %}
      - {{ network }}
{% endfor %}
{% else %}
    network_mode: "bridge"
{% endif %}
    ports:
{% for port in deluge_ports %}
      - "{{ (deluge_bind_ip ~ ':') if deluge_bind_ip else '' }}{{ port }}"
{% endfor %}
    healthcheck:
      test: ["CMD", "curl", "-sfo", "/dev/null", "http://localhost:{{ deluge_web_port }}"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always

{% if deluge_networks %}
networks:
{% for network in deluge_networks %}
  {{ network }}:
    external: true
{% endfor %}
{% endif %}
