services:
  nut-ui:
    image: ghcr.io/superioone/nut_webgui:{{ nut_ui_version }}
    container_name: {{ nut_ui_container_name }}
{% if nut_ui_watchtower_enabled %}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
{% endif %}
    environment:
      - UPSD_ADDR={{ nut_ui_upsd_address }}
      - UPSD_PORT={{ nut_ui_upsd_port }}
      - UPSD_USER={{ nut_ui_upsd_user }}
      - UPSD_PASS={{ nut_ui_upsd_password }}
{% if nut_ui_deploy_resources_limits %}
    deploy:
      resources:
        limits:
{% for key, value in nut_ui_deploy_resources_limits.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    networks:
      - nut-ui
{% for network in nut_ui_networks | default([]) %}
      - {{ network }}
{% endfor %}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:9000/probes/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always

  nut-cgi:
    image: scalified/nut-cgi:{{ nut_ui_cgi_version }}
    container_name: {{ nut_ui_cgi_container_name }}
{% if nut_ui_cgi_watchtower_enabled %}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
{% endif %}
    environment:
      - "ADMIN_EMAIL={{ nut_ui_cgi_admin_email }}"
      - "MONITOR_HOSTS={{ nut_ui_cgi_monitor_hosts }}"
{% if nut_ui_cgi_deploy_resources_limits %}
    deploy:
      resources:
        limits:
{% for key, value in nut_ui_cgi_deploy_resources_limits.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    networks:
      - nut-ui
{% for network in nut_ui_networks | default([]) %}
      - {{ network }}
{% endfor %}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: ["CMD", "curl", "-sfo", "/dev/null", "http://localhost:8080/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    restart: always

  nut-exporter:
    image: druggeri/nut_exporter:{{ nut_ui_exporter_version }}
    container_name: {{ nut_ui_exporter_container_name }}
    environment:
      - NUT_EXPORTER_SERVER={{ nut_ui_exporter_server }}
      - NUT_EXPORTER_PORT={{ nut_ui_exporter_port }}
      - NUT_EXPORTER_USERNAME={{ nut_ui_exporter_username }}
      - NUT_EXPORTER_PASSWORD={{ nut_ui_exporter_password }}
      - "NUT_EXPORTER_VARIABLES=
{%- for variable in nut_ui_exporter_variables | default([]) +%}
           {{ variable }}{% if not loop.last %},{% endif %}
{% endfor +%}
        "
{% if nut_ui_exporter_deploy_resources_limits %}
    deploy:
      resources:
        limits:
{% for key, value in nut_ui_exporter_deploy_resources_limits.items() %}
          {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    networks:
      - nut-ui
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always

networks:
  nut-ui:
    name: nut-ui
    driver_opts:
      com.docker.network.bridge.name: br-nut-ui
{% for network in nut_ui_networks | default([]) %}
  {{ network }}:
    external: true
{% endfor %}
