services:
  certbot:
    container_name: {{ certbot_container_name }}
    image: scalified/certbot-cloudflare:{{ certbot_version }}
    environment:
      CF_EMAIL: "{{ certbot_cf_email }}"
      DOMAINS: "{{ certbot_domains | join(' ') }}"
{% if certbot_deploy_hook is defined %}
      DEPLOY_HOOK: "{{ certbot_deploy_hook }}"
{% endif %}
    volumes:
      - ./cloudflare.ini:/etc/certbot/cloudflare.ini:ro
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: "bridge"
{% if certbot_watchtower_enabled %}
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
{% endif %}
    healthcheck:
      test: ["CMD", "test", "-d", "/etc/letsencrypt/live/{{ certbot_domain }}"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 40s
    restart: always
