---
- name: Plex Role - Plex service deployment
  ansible.builtin.debug:
    msg:
      - "================================="
      - "   Plex: service deployment"
      - "================================="

- name: Include Plex tasks
  ansible.builtin.include_tasks: plex.yml
