---
- name: Copy Plex templates
  scalified.services.template:
    src: "plex/"
    dest: "{{ plex_dir }}/"
    directory_mode: "{{ plex_dir_mode }}"
    mode: "{{ plex_file_mode }}"
    owner: "{{ plex_owner }}"
    group: "{{ plex_group }}"
  become: true

- name: Start Plex
  community.docker.docker_compose_v2:
    project_src: "{{ plex_dir }}"
    state: present
